
<!--<header>
  <div class="topnav">
      <a class="netinfoTopLogo" target="_blank" href="https://www.telerikacademy.com/" style="color:black">Telerik Academy</a>
      <a class="vestiTopLogo" target="_blank" href="https://www.udemy.com/" style="color:black">Udemy</a>
      <a class="sportniTopLogo" target="_blank" href="https://softuni.bg/" style="color:black">SoftUni</a>
      <a class="darknewsTopLogo" target="_blank" href="https://www.pluralsight.com/"style="color:black">PluralSight</a>
      <a class="novaTopLogo" target="_blank" href="https://nova.bg/" style="color:black">Nova.bg</a>
  </div>
  <div class="headerMain">
    <div>
      <a href="https://www.sinoptik.bg/" class="sinoptikLogo">Прогноза за времето в България и по света от Telerik.bg</a>
      <div class="searchTop">
        <form method="get" action="https://www.sinoptik.bg/search">
          <p>
            <input type="text" id="searchField" name="q" title="Търси град" value="" class="searchTopField blur" autocomplete="off">
            <button class="searchTopButton">Търси</button>
          </p>
          <p class="radioButtons">
            <input type="radio" id="inSinoptik" name="in" value="sinoptik" checked="checked">
            <label for="inSinoptik">В Telerik.bg</label>
            <input type="radio" id="inMap" name="in" value="map">
            <label for="inMap">В карта</label>
          </p>
        </form>
      </div>
      <div class="mobileSocialWidgets">
        <a href="https://m.sinoptik.bg/?view=mobile" target="_blank" class="mobile" title="Мобилна версия">Мобилна версия</a>
        <a href="http://www.facebook.com/Sinoptik.bg" target="_blank" class="fb" title="Стани фен">Стани фен</a>
        <a href="https://instagram.com/sinoptik.bg" target="_blank" class="insta" title="Instagram профил">Instagram профил</a>
        <a href="https://www.sinoptik.bg/widgets" class="widgetsIco" title="Времето в твоя сайт">Времето в твоя сайт</a>
      </div>
    </div>
  </div>
</header>
<br />-->
<br />
<h4><strong>SEVEN DAYS FORECAST</strong> - YR'S FORECAST</h4>
<table class="myTable" style="display:inline">
  <!--cellspacing="2" cellpadding="5"-->
  <tr *ngFor="let forecast of forecasts" class="noBorder">
    <td class="date-cell">
      <div class="card">
        <div style="color:black;font-size:23px;padding-left:10px;padding-right:10px;padding-top:10px;">
          Tuesday
        </div>
        <div style="color:dimgray;font-size:15px" align="center">
          28 January
        </div>
        <br />
        <div align="center">
          <img src="Img/d100.png" width="50" id="myImg">
        </div>
        <div style="font-size:20px;" align="center">
          {{ forecast.name }}
        </div>
        <div align="center" style="color:red;font-size:20px;">
          {{ forecast.main.temp_max }} &#8451;
        </div>
        <br />
        <div align="center" style="color:black;font-size:15px;">
          Lowest
          <div align="center" style="color:red;font-size:14px;">
            {{forecast.main.temp_min}} &#8451;
          </div>
        </div>
        <br />
        <div align="center" style="color:blue;font-size:14px;">
          &#x2B08; {{ forecast.wind.speed}} mph
        </div>
        <br />
      </div>
    </td>

  </tr>
</table>
<p></p>
<img alt="" class="i-amphtml-fill-content i-amphtml-replaced-content" decoding="async" src="https://tpc.googlesyndication.com/simgad/2207527446071509434?sqp=4sqPyQQ7QjkqNxABHQAAtEIgASgBMAk4A0DwkwlYAWBfcAKAAQGIAQGdAQAAgD-oAQGwAYCt4gS4AV_FAS2ynT4&amp;rs=AOga4qkLklkU4el60SUFYuYomIJBxCldzg">

<br />
<br />
<app-footer></app-footer>
