<div align="center">
  <h1 id="tableLabel">Weather forecast for your city</h1>

  <p>This component demonstrates fetching data from the server.</p>
</div>
<p *ngIf="!forecasts"><em>Loading...Please wait...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th width="10%" align="center">Град</th>
      <th width="12%" align="center">Понеделник</th>
      <th width="12%" align="center">  Вторник</th>
      <th width="12%" align="center">   Сряда</th>
      <th width="12%" align="center"> Четвъртък</th>
      <th width="12%" align="center">   Петък</th>
      <th width="12%" align="center">  Събота</th>
      <th width="12%" align="center">  Неделя</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td align="center">
        <font size="2" align="center">
          {{ forecast.location }}
          <br />
          <br />
          {{ forecast.date }}
        </font>
      </td>
      <td align="center">
        {{ forecast.maxTemperatureC }}
        /
        {{ forecast.minTemperatureC }}
        <br />
        <img src="Img/Sun2.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>

      </td>
      <td align="center">
        {{ forecast.maxTemperatureF }}
        /
        {{ forecast.minTemperatureF }}
        <br />
        <img src="Img/Winter.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>
      </td>
      <td align="center">
        {{ forecast.maxTemperatureC }}
        /
        {{ forecast.minTemperatureC }}
        <br />
        <img src="Img/Sun2.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>
        <!--<td>{{ forecast.temperatureC }}</td>-->
        <!--<td> <img src={{forecast.image}} width="220" height="160" /></td>-->
      </td>
      <td align="center">

        {{ forecast.maxTemperatureF }}
        /
        {{ forecast.minTemperatureF }}
        <br />
        <img src="Img/Sun2.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>
      </td>
      <td align="center">
        {{ forecast.maxTemperatureF }}
        /
        {{ forecast.minTemperatureF }}
        <br />
        <img src="Img/Sun2.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>
      </td>
      <td align="center">
        {{ forecast.maxTemperatureF }}
        /
        {{ forecast.minTemperatureF }}
        <br />
        <img src="Img/Sun2.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>
      </td>
      <td align="center">
        {{ forecast.maxTemperatureF }}
        /
        {{ forecast.minTemperatureF }}
        <br />
        <img src="Img/Sun2.jfif" width="50">
        <br />
        <div>
          <font size="2">
            Променлива облачност
          </font>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!--<div class="container">
  <div class="row">
    <div class="col-sm">
      00:00-01:00
    </div>
    <div class="col-sm">
      01:00-02:00
    </div>
    <div class="col-sm">
      02:00-03:00
    </div>
    <div class="col-sm">
      03:00-04:00
    </div>
    <div class="col-sm">
      04:00-05:00
    </div>
    <div class="col-sm">
      05:00-06:00
    </div>
    <div class="col-sm">
      06:00-07:00
    </div>
    <div class="col-sm">
      08:00-09:00
    </div>
    <div class="col-sm">
      09:00-10:00
    </div>
    <div class="col-sm">
      10:00-11:00
    </div>
    <div class="col-sm">
      11:00-12:00
    </div>

    <div class="col-sm">
      12:00-13:00
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      13:00-14:00
    </div>
    <div class="col-sm">
      14:00-15:00
    </div>
    <div class="col-sm">
      15:00-16:00
    </div>
    <div class="col-sm">
      16:00-17:00
    </div>
    <div class="col-sm">
      17:00-18:00
    </div>
    <div class="col-sm">
      18:00-19:00
    </div>
    <div class="col-sm">
      19:00-20:00
    </div>
    <div class="col-sm">
      20:00-21:00
    </div>
    <div class="col-sm">
      21:00-22:00
    </div>
    <div class="col-sm">
      22:00-23:00
    </div>
    <div class="col-sm">
      23:00-00:00
    </div>
  </div>
</div>-->

<br />
<br />
<br />
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Времето, прогноза, синоптик, какво ще е времето, вали, слънце, сняг</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>


  <!-- Card -->
  <div class="card weather-card">

    <!-- Card content -->
    <div class="card-body pb-3">

      <!-- Title -->
      <h4 class="card-title font-weight-bold">Warsaw</h4>
      <!-- Text -->
      <p class="card-text">Mon, 12:30 PM, Mostly Sunny</p>
      <div class="d-flex justify-content-between">
        <p class="display-1 degree">23</p>
        <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
      </div>
      <div class="d-flex justify-content-between mb-4">
        <p><i class="fas fa-tint fa-lg text-info pr-2"></i>3% Precipitation</p>
        <p><i class="fas fa-leaf fa-lg grey-text pr-2"></i>21 km/h Winds</p>
      </div>
      <div class="progress md-progress">
        <div class="progress-bar black" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
        <li class="pl-4">8AM</li>
        <li>11AM</li>
        <li>2PM</li>
        <li>5PM</li>
        <li class="pr-4">8PM</li>
      </ul>

      <div class="collapse-content">

        <div class="collapse" id="collapseExample">

          <table class="table table-borderless table-sm mb-0">
            <tbody>
              <tr>
                <td class="font-weight-normal align-middle">Tuesday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-sun fa-lg amber-text"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Wednesday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Thursday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-sun fa-lg amber-text"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Friday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-sun fa-lg amber-text"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Saturday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-cloud fa-lg text-info"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Sunday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-cloud-sun fa-lg text-info"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <hr class="">

        <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>

      </div>

    </div>

  </div>

    <!-- Card -->
    <div class="card weather-card">

      <!-- Card content -->
      <div class="card-body pb-3">

        <!-- Title -->
        <h4 class="card-title font-weight-bold">Warsaw</h4>
        <!-- Text -->
        <p class="card-text">Mon, 12:30 PM, Mostly Sunny</p>
        <div class="d-flex justify-content-between">
          <p class="display-1 degree">23</p>
          <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
        </div>
        <div class="d-flex justify-content-between mb-4">
          <p><i class="fas fa-tint fa-lg text-info pr-2"></i>3% Precipitation</p>
          <p><i class="fas fa-leaf fa-lg grey-text pr-2"></i>21 km/h Winds</p>
        </div>
        <div class="progress md-progress">
          <div class="progress-bar black" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
          <li class="pl-4">8AM</li>
          <li>11AM</li>
          <li>2PM</li>
          <li>5PM</li>
          <li class="pr-4">8PM</li>
        </ul>

        <div class="collapse-content">

          <div class="collapse" id="collapseExample">

            <table class="table table-borderless table-sm mb-0">
              <tbody>
                <tr>
                  <td class="font-weight-normal align-middle">Tuesday</td>
                  <td class="float-right font-weight-normal">
                    <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
                  </td>
                  <td class="float-right mr-3">
                    <i class="fas fa-sun fa-lg amber-text"></i>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-normal align-middle">Wednesday</td>
                  <td class="float-right font-weight-normal">
                    <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
                  </td>
                  <td class="float-right mr-3">
                    <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-normal align-middle">Thursday</td>
                  <td class="float-right font-weight-normal">
                    <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
                  </td>
                  <td class="float-right mr-3">
                    <i class="fas fa-sun fa-lg amber-text"></i>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-normal align-middle">Friday</td>
                  <td class="float-right font-weight-normal">
                    <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
                  </td>
                  <td class="float-right mr-3">
                    <i class="fas fa-sun fa-lg amber-text"></i>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-normal align-middle">Saturday</td>
                  <td class="float-right font-weight-normal">
                    <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
                  </td>
                  <td class="float-right mr-3">
                    <i class="fas fa-cloud fa-lg text-info"></i>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-normal align-middle">Sunday</td>
                  <td class="float-right font-weight-normal">
                    <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
                  </td>
                  <td class="float-right mr-3">
                    <i class="fas fa-cloud-sun fa-lg text-info"></i>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

          <hr class="">

          <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>

        </div>

      </div>

    </div>
  <!-- Card -->
  <!-- Card -->
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://github.com/mkatsarow"> Mihail Katsarov</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
